body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.container {
  width: 60%;
  margin: 50px auto;
  background: white;
  padding: 30px;
  border-radius: 8px;
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  padding: 10px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background: #fc8019;
  color: white;
  border: none;
  cursor: pointer;
}

#response {
  margin-top: 30px;
}
